<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /bookify/

    # Si la solicitud es la raíz ("/"), servir app/index.html
    RewriteRule ^$ app/index.html [L]

    # Redirigir todas las demás solicitudes a /app sin cambiar la URL visible
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ app/$1 [L]
</IfModule>
